In [13]:
from data import *

In [14]:
provinces

,province_id,province,eng,abbre_thai,total_registered_vote,total_vote_stations
prov_id,,,,,,
ACR,37,อำนาจเจริญ,AMNAT CHAROEN,อจ,301354,641
ATG,15,อ่างทอง,ANG THONG,อท,224656,492
AYA,14,พระนครศรีอยุธยา,PHRA NAKHON SI AYUTTHAYA,อย,664431,1060
BKK,10,กรุงเทพมหานคร,BANGKOK,กทม,4479155,6360
BKN,38,บึงกาฬ,BUENG KAN,บก,327745,652
...,...,...,...,...,...,...
UDN,41,อุดรธานี,UDON THANI,อด,1248824,2252
UTI,61,อุทัยธานี,UTHAI THANI,อน,260983,617
UTT,53,อุตรดิตถ์,UTTARADIT,อต,368323,732
YLA,95,ยะลา,YALA,ยล,382271,596
YST,35,ยโสธร,YASOTHON,ยส,432872,905

In [15]:
constituencies

,cons_no,prov_id,registered_vote,total_vote_stations,zone
cons_id,,,,,
ACR_1,1,ACR,145416,310,อำเภอเมืองอำนาจเจริญอำเภอหัวตะพาน
ACR_2,2,ACR,155938,331,อำเภอเสนางคนิคมอำเภอชานุมานอำเภอปทุมราชวงศาอำเ...
ATG_1,1,ATG,111917,239,อำเภอเมืองอ่างทองอำเภอป่าโมกอำเภอวิเศษชัยชาญ (...
ATG_2,2,ATG,112739,253,อำเภอแสวงหาอำเภอโพธิ์ทองอำเภอไชโยอำเภอวิเศษชัย...
AYA_1,1,AYA,138666,226,อำเภอบางบาลอำเภอพระนครศรีอยุธยา
...,...,...,...,...,...
YLA_2,2,YLA,129255,192,"อำเภอเมืองยะลา (เฉพาะตำบลบุดี, ตำบลเปาะเส้ง, ต..."
YLA_3,3,YLA,127447,217,อำเภอเบตงอำเภอกรงปินังอำเภอธารโตอำเภอบันนังสตา
YST_1,1,YST,144909,300,อำเภอเมืองยโสธรอำเภอคำเขื่อนแก้ว (เฉพาะตำบลทุ่...
YST_2,2,YST,141903,302,"อำเภอไทยเจริญ (เฉพาะตำบลน้ำคำ, ตำบลคำไผ่)อำเภอ..."
YST_3,3,YST,146060,303,"อำเภอเลิงนกทาอำเภอไทยเจริญ (ยกเว้นตำบลน้ำคำ, ต..."

In [16]:
parties

,party_no,name,abbr,color,logo_url
party_id,,,,,
701,26,ประชาธิปัตย์,ปชป.,#06aff3,https://cdn.ectreport.com/images/logos/ประชาธิ...
702,63,ประชากรไทย,ปชท.,#0f41ce,https://cdn.ectreport.com/images/logos/ประชากร...
703,60,ความหวังใหม่,ควม.,#e6b750,https://cdn.ectreport.com/images/logos/ความหวั...
705,29,เพื่อไทย,พท.,#da3731,https://cdn.ectreport.com/images/logos/เพื่อไท...
706,14,ชาติพัฒนากล้า,ชพก.,#233e8a,https://cdn.ectreport.com/images/logos/ชาติพัฒ...
...,...,...,...,...,...
780,55,ไทยก้าวหน้า,ทกน.,#b9bee3,https://cdn.ectreport.com/images/logos/ไทยก้าว...
781,9,พลัง,พ.,#8e8fc7,https://cdn.ectreport.com/images/logos/พลัง.png
783,52,ชาติรุ่งเรือง,ชรร.,#9cb4c9,https://cdn.ectreport.com/images/logos/ชาติรุ่...
784,23,รวมใจไทย,ร.จ.ท.,#eec49a,https://cdn.ectreport.com/images/logos/รวมใจไท...
786,20,เปลี่ยน,ป.,#cc898a,https://cdn.ectreport.com/images/logos/เปลี่ยน...

In [17]:
constituency_candidates

,mp_app_name,mp_app_no,mp_app_party_id,image_url
mp_app_id,,,,
ACR_1_1,นางสาวปิยะมาศ บัวแก้ว,1,706,https://cdn.ectreport.com/images/mp_candidates...
ACR_1_10,นางสุขสมรวย วันทนียกุล,10,709,https://cdn.ectreport.com/images/mp_candidates...
ACR_1_11,นายการันต์ ลุนพันธ์,11,712,https://cdn.ectreport.com/images/mp_candidates...
ACR_1_12,นายไสว ผลาวงศ์,12,742,https://cdn.ectreport.com/images/mp_candidates...
ACR_1_13,นายสงบ โสภิพันธ์,13,761,https://cdn.ectreport.com/images/mp_candidates...
...,...,...,...,...
YST_3_5,นายธนพัฒน์ ศรีชนะ,5,709,https://cdn.ectreport.com/images/mp_candidates...
YST_3_6,นายพิทยา พาลุสุข,6,763,https://cdn.ectreport.com/images/mp_candidates...
YST_3_7,นายศรายุทธ สุดสวาท,7,712,https://cdn.ectreport.com/images/mp_candidates...
YST_3_8,นางสาวสุนันทา สีชมภู,8,769,https://cdn.ectreport.com/images/mp_candidates...
YST_3_9,นายณัฐพล ศรีอุบล,9,726,https://cdn.ectreport.com/images/mp_candidates...

In [18]:
party_list_candidates

,party_no,list_no,name,image_url
id,,,,
0,1,1,นายกฤดิทัช แสงธนโยธิน,https://cdn.ectreport.com/images/candidates/นา...
1,1,10,นายมิตรชัย สมบูรณ์,https://cdn.ectreport.com/images/candidates/นา...
2,1,2,นายสุปรีย์ แสงสว่าง,https://cdn.ectreport.com/images/candidates/นา...
3,1,3,นายธนภัท อุทุมพันธ์,https://cdn.ectreport.com/images/candidates/นา...
4,1,4,นายทิวา ขำศิริ,https://cdn.ectreport.com/images/candidates/นา...
...,...,...,...,...
1893,67,5,นายนิคม ฤทธิ์ศรีบุญ,https://cdn.ectreport.com/images/candidates/นา...
1894,67,6,นางภิขณิสา ภูมิมเหศวร,https://cdn.ectreport.com/images/candidates/นา...
1895,67,7,นายสมยศ สุขใจ,https://cdn.ectreport.com/images/candidates/นา...
1896,67,8,นางสาวชณพรรธน์ พิทย์พัฒนกูล,https://cdn.ectreport.com/images/candidates/นา...
1897,67,9,นายศรวัสย์ ดวงแก้ว,https://cdn.ectreport.com/images/candidates/นา...

In [19]:
PM_candidates

,party_no,name,image_url
id,,,
0,2,นายสุรทิน พิจารณ์,https://cdn.ectreport.com/images/pm_candidates...
1,4,นายบัญชา เดชเจริญศิริกุล,https://cdn.ectreport.com/images/pm_candidates...
2,5,นายเชาวฤทธิ์ ขจรพงศ์กีรติ,https://cdn.ectreport.com/images/pm_candidates...
3,7,นายอนุทิน ชาญวีรกูล,https://cdn.ectreport.com/images/pm_candidates...
4,9,นายชัยยพล พสุรัตน์บรรจง,https://cdn.ectreport.com/images/pm_candidates...
...,...,...,...
57,63,นางสาวภคมน วงศ์ใหญ่,https://cdn.ectreport.com/images/pm_candidates...
58,63,นายคณิศร สมมะลวน,https://cdn.ectreport.com/images/pm_candidates...
59,63,นายหรรษธร ณรงค์,https://cdn.ectreport.com/images/pm_candidates...
60,65,ผู้ช่วยศาสตราจารย์ (พิเศษ) อัครนันท์ อริยศรีพงษ์,https://cdn.ectreport.com/images/pm_candidates...
61,67,นายเกียรติภูมิ สิริพันธุ์,https://cdn.ectreport.com/images/pm_candidates...

In [20]:
party_list_result

      cons_id  party_id  party_list_vote
id
0       ACR_1       701             4550
1       ACR_1       702              185
2       ACR_1       703               67
3       ACR_1       705            33576
4       ACR_1       706              132
...       ...       ...              ...
26795   YST_3       780              146
26796   YST_3       781              412
26797   YST_3       783               17
26798   YST_3       784              138
26799   YST_3       786               85

[26800 rows x 3 columns]

In [21]:
constituency_result

     cons_id mp_app_id  mp_app_rank  mp_app_vote  party_id
id
0      ACR_1   ACR_1_1            9          459       706
1      ACR_1  ACR_1_10            1        38275       709
2      ACR_1  ACR_1_11           12          127       712
3      ACR_1  ACR_1_12           13          126       742
4      ACR_1  ACR_1_13           11          212       761
...      ...       ...          ...          ...       ...
4776   YST_3   YST_3_5            1        37946       709
4777   YST_3   YST_3_6            7          821       763
4778   YST_3   YST_3_7            9          531       712
4779   YST_3   YST_3_8           11          296       769
4780   YST_3   YST_3_9            3        14502       726

[4781 rows x 5 columns]

In [22]:
constituencies_status

    prov_id cons_id  turn_out  percent_turn_out
id
0       ACR   ACR_1    105574          72.60136
1       ACR   ACR_2    111813          71.70442
2       ATG   ATG_1     89918          80.74896
3       ATG   ATG_2     91466          81.14515
4       AYA   AYA_1    110317          79.92132
..      ...     ...       ...               ...
395     YLA   YLA_2    100319          77.61325
396     YLA   YLA_3     97956          76.86139
397     YST   YST_1    110491          76.29751
398     YST   YST_2     98432          69.36618
399     YST   YST_3    104532          71.88875

[400 rows x 4 columns]

In [23]:
mp_result

    party_id  constituencies_count  party_list_count
id
0        726                   112                39
1        705                   112                29
2        709                    68                 3
3        743                    39                 1
4        763                    23                13
5        701                    22                 3
6        707                     9                 1
7        740                     7                 2
8        762                     5                 1
9        773                     2                 0
10       706                     1                 1
11       719                     0                 1
12       712                     0                 1
13       778                     0                 1
14       776                     0                 1
15       747                     0                 1
16       761                     0                 1
17       714                     0                 1